body{ font-family: sans-serif; }
h2, .annee{ font-style: italic; }
table{
    border-collapse: collapse;
    margin: 25px auto 25px auto;
    text-align: center;
}
th,td{
    border: 1px solid black;
    padding: 5px;
}
th{
    background-color:#CCC;
    font-weight: bold;
}

.nom_voiture{ font-weight: bold; }

header{grid-area: entete;}
#intro{grid-area: intro;}
#tab-produc{grid-area: tab-produc;}
footer{grid-area: pied;}

.conteneur-principale{
    display: grid;
    grid-template-areas:
        "entete entete"
        "intro tab-produc"
        "pied pied";
}
.conteneur-secondaire{
    display: flex;
    align-items: center;
}
